@import "normalize.scss";
@import "scaffolding.scss";

@keyframes appearBorder {
  from {
    border: 1px solid transparent;
  }
  to {
    border: 1px solid white;
  }
}

@keyframes opening {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

$light-blue: #6b99df;
$shadow-color: rgba(104, 89, 89, 0.4);
