@import "normalize.scss";
@import "scaffolding.scss";

@keyframes appearBorder {
  from {
    border: 1px solid transparent;
  }
  to {
    border: 1px solid white;
  }
}

@keyframes opening {
  from {
    height: 0;
  }
  to {
    height: 500px;
  }
}
